@charset "UTF-8";


/* reset  */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

#aside {
    float: left;
    width: 270px;
    background-color: skyblue;
}

#contents {
    float: right;
    width: 700px;
    height: 200px;
    background: pink;
}

#footer {
    /* 형제들중에서 형들이 재설정되었을대 동생일 요소도 반드시 float에 설정되어야합니다

    형이 float설정되어있지않고
    동ㅅ생들이 float이 설정되어있다면 
    형은 float설정되어있지않아도 됩니다 */
    float: left;
    background: red;
    width: 100%;
}

#aside {}

#aside h1 {}

#aside h1 a {}

#aside h1 a img {
    width: 150px;
}


#aside .nav {}

#aside .nav ul {}

#aside .nav ul li {
    padding: 10px;
    background: #f1f1f1;
    padding-bottom: 15px;
    position: relative;
}

#aside .nav ul li a {
    font-size: 23px;
    transition: 0.3s;
}

#aside .nav ul li a:hover {
    text-decoration: underline;
}



#aside .nav ul li ul.submenu {
    display: none;
    position: absolute;
    right: -131px;
    top: 0;

}

#aside .nav ul li ul.submenu li {
    padding: 0;
}

#aside .nav ul li ul.submenu li a {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px;
}

#aside .nav ul li ul.submenu li a:hover {
    text-decoration: none;
}

/* content */
/* banner */
.banner {
    height: 384px;
}

.banner .slidelist {
    position: relative;
}

.banner .slidelist .slideimg {
    position: absolute;
    left: 0;
    top: 0;


}

.banner .slidelist .slideimg h2 {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 30px;
    border-radius: 20px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.banner .slidelist .slideimg img {
    width: 100%;
    /* 이미지의 예측공간이 생길때 처리방법 */
    /* 원인은 img가 inline요소이기 때문에 */
    /* 해결책 1) display: block; */
    /* 해결책 1) vertical-align:top; */
    display: block
}